body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  align-self: center;
  width: 350px;
  border: 1px solid black;
  border-collapse: collapse;
}

table th {
  border-bottom: 2px solid black;
}

table td {
  border-bottom: 1px solid black;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
